.navbar-default {
    background-color: white;
    border-color: white;
    padding: 10px 5px;
}

.navbar-right {
    display: inline;
}

#nav-link {
    color: navy;
}

.terminal-header {
    fill: lightgray;
}

.default-header {
    color: navy;
}

.install-header {
	margin: 20px 0px;
}

.usage-header {
	color: navy;
}

.usage-subheader {
	color: black;
}

.demo {
	margin: 0 0 20px 0;
}

.api-section {
    margin: 0 0 20px 0;
}