#main-container {
  margin: 0;
}


.navbar {
  padding: 20px 0 20px 0;
  background-color: #1258A3;  
  margin: 0;
  width: 100%;
  border-radius: 0;
}
.header-container {
  margin: 0;
  width: 100%;
}
.nav-link {
  padding: 0 15px;
  border-right: 1px solid rgba(255,255,255,0.3);
  font-weight: lighter;
  font-size: 16px;
  color: white;
}
.nav-link:hover {
  color: lightgray;
}
.navbar .nav-link:last-child {
  border-right: none;
}


.main-content {
  background-color: #1258A3;
  min-height: 530px; 
  height: 100%; 
  padding: 0 0 80px 0;
}
.carousel-container {
  height: 500px;
}
.feature-section {
  margin: 0 0 80px 0;
}
.feature-header {
  color: gray;
  text-align: center;
  margin: 30px 0 10px 0;
  font-weight: lighter;
}
.feature-description {
  color: gray;
  text-align: center;
  margin: 30px 0 0 0;
  font-weight: lighter; 
}
.quadrant-grid-1 {
  border-right: 1px dotted lightgray;
  border-bottom: 1px dotted lightgray;
  vertical-align: middle;
}
.quadrant-grid-2 {
  border-left: 1px dotted lightgray;
  border-bottom: 1px dotted lightgray;
  vertical-align: middle;
}
.quadrant-grid-3 {
  border-right: 1px dotted lightgray;
  border-top: 1px dotted lightgray;
  vertical-align: middle;
}
.quadrant-grid-4 {
  border-left: 1px dotted lightgray;
  border-top: 1px dotted lightgray;
  vertical-align: middle;
}
.slider {
  height: 500px !important;
}
.slider-frame {
  height: 500px !important;
}
.slider-decorator-0 {
  visibility: hidden !important;
}
.slider-decorator-1 {
  visibility: hidden !important;
}


.install-header {
  color: #1258A3;
	margin: 20px 0px;
}


.usage-section {
  margin: 20px 0 20px 0;
}
.usage-header {
	color: #1258A3;
}
.usage-subheader {
	color: black;
}


.api-section {
  margin: 20px 0 20px 0;
}
.api-header {
  color: #1258A3;
}


img {
  display: block;
  margin: 20px auto;
}
.logo-text {
  text-align: center;
  color: white;
  font-weight: lighter;
  margin: 10px 0 20px 0;
}


.terminal-header {
  fill: lightgray;
}
#terminal-top {
  background-color: lightgray;
  padding: 10px;
  margin: 0;
  border-radius: 3px;
}
#terminal-body {
  background-color: #252A2B;
  color: lightgray;
  font-family: monaco;
  font-style: normal;
  padding: 20px;
  font-size: 12px;
  border-radius: 3px
}


.email-demo-container {
  border-radius: 20px;
}
.email-container {
  margin: 0;
}
.email {
  background-color: #f0f0f5;
  border-top: 0.5px solid lightgray;
  margin: 0;
}
.email-header {
  padding: 10px 0 10px 5px;
  font-weight: 200;
  margin: 0;
}
.email-body {
  margin: 0;
  padding: 5px 0 5px 20px;
  font-size: 14px;
  font-weight: 200;
}
.email-list-enter {
  opacity: 0.01;
}
.email-list-enter.email-list-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.email-list-leave {
  opacity: 1;
}
.email-list-leave.email-list-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}